.all-articles {
  background-color: rgb(201, 228, 150);
  text-align: center;
}

.article {
  background-color: rgb(150, 228, 224);
}

li {
  display: inline-block;
}

.article-title {
  color: red;
}
