#all-comments {
  background-color: rgb(203, 225, 182);
}

.comment {
  background-color: white;
  margin: 20px 70px 20px 20px;
  padding: 2%;
  border: solid 1px white;
  border-width: 5px;
  border-radius: 25px;
}

#input-comment {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: normal;
  font-family: "Do Hyeon", sans-serif;
}

#comment-input {
  height: 200px;
  border: 2px solid green;
  border-radius: 20px;
}

.comment-input {
  padding: 5px 15px;
}

li {
  display: inline-block;
  margin-left: 20px;
}

#input-box {
  margin-top: 15px;
  text-align: center;
}

.btn.btn-success {
  margin-top: 10px;
  margin-left: 30px;
}
