.col-lg-12 {
  background-color: rgb(127, 198, 150);
  text-align: center;
  height: 100px;
  color: white;
}

.list {
  top: -10px;
}

#nc-header {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.topic-name {
  margin: 50px;
  color: white;
  font-size: 25px;
  font-weight: normal;
}

.topic-name:hover {
  color: white;
}
