.big-header {
  background-color: rgb(127, 198, 150);
  text-align: center;
  color: white;
  display: inline;
  font-family: "Do Hyeon", sans-serif;
  font-size: 25px;
}

#nc-header {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.topic-name {
  color: white;
  font-size: 25px;
  font-weight: normal;
  font-size: 2em;
  /* background-color: blueviolet; */
  /* margin-right: 5px; */
}

.topic-name:hover {
  color: white;
}

/* .nav-item {
  text-align: center;
} */

.navbar-nav {
  text-align: center;
}
