.grid-topics {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(203, 225, 182);
  width: 100%;
  padding-top: 30px;
}

#all-topics {
  background-color: rgb(203, 225, 182);
  height: 400px;
}

.topic {
  background-color: white;
  margin: 2%;
  margin-right: 10%;
  padding: 2%;
  margin-bottom: 30px;
  border: solid 1px white;
  border-width: 5px;
  border-radius: 25px;
}

.topic-title {
  color: rgb(127, 198, 150);
  font-size: 30px;
  font-weight: bold;
}

.topic-title:hover {
  color: rgb(127, 198, 150);
}
