.user-container {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  background-color: aqua;
}

.profile-pic {
  height: 200px;
}

.avatar-img {
  background-color: rgb(203, 225, 182);
}

.user-details {
  background-color: white;
  margin: 10px 50px;
  border-radius: 20em;
}

.bottom-row {
  background-color: rgb(203, 225, 182);
}

.title-list-container {
  background-color: white;
  margin: 40px 20px 20px 20px;
  border-radius: 5em;
  position: "relative";
  padding-top: 10px;
  /* height: 80%; */
  color: green;
}

.title-list {
  display: flex;
  align-items: flex-start;
  left: -25px;
  position: relative;
  color: green;
}

#userProfile {
  background-color: rgb(203, 225, 182);
  width: 100%;
  font-family: "Do Hyeon", sans-serif;
  font-size: 30px;
}

.article-header {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.name {
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.nameX {
  font-weight: italic;
  color: rgb(127, 198, 150);
}

img {
  border-radius: 100px;
  margin-left: 20%;
  margin-top: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.single {
  color: green;
}

.single:hover {
  color: rgb(127, 198, 150);
}

.user-titles-list p {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  color: green;
  text-decoration: underline;
}
