#userProfile {
  background-color: rgb(203, 225, 182);
  width: 100%;
  font-family: "Do Hyeon", sans-serif;
  font-size: 30px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  color: rgb(67, 114, 82);
}

.user-titles-list {
  background-color: white;
  margin: 2%;
  padding: 2%;
  border: solid 1px white;
  border-width: 5px;
  border-radius: 25px;
  height: 20%;
}

img {
  border-radius: 100px;
  margin-left: 20%;
  margin-top: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.article-title {
  text-align: left;
  list-style: circle;
}

.single {
  color: rgb(127, 198, 150);
  float: left;
}

.user-titles-list p {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  color: green;
  text-decoration: underline;
}
